
.flex-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.justify-align, .estatistica{
    justify-content: center;
    text-align: center;
}

.font-size {
    font-size:15px;
}

header, footer{
    text-align: right;
}

header, footer, li.container_itens{
    background-color:#e0cede5c;
}

body, .comandos, .estatistica {
color: #322d37;
}

select, #reset-button {
    height: 35px;
    cursor:pointer;
    border-radius: 10px;
    font-size:15px;
}

li.container_itens, .comandos {
    padding: 20px;
}

header, .comandos, .container_itens dd[itemprop="name"], dt, .estatistica{
    font-weight: bold;
    margin-top: 10px;
}

dd, dt {
    margin: 0px;
    text-align: left;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: baseline;
    height:fit-content;
    border-radius: 50px;
}
h1{
    font-size: 90px;
}

header img {
    max-height: 180px;
    padding-top: 20px;
    padding-right: 20px;
}

h2{
    text-align: center;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
  display: flexbox;  
}

.comandos {
    font-size:20px;
}

select {
    background-color:#d9d9d926;
    width: 210px;
    border-style: dashed;
    margin-right: 15px;
    margin-left: 5px;
}

#reset-button {
    background-color: #322d37;
    color:#e0cede;
    font-weight: bold;
    width: 150px;
    border: none;
}

ul{
    padding: 0px;
}

li.container_itens {
    margin: 20px;
    width: 300px;
    border-radius: 50px;
    display: flex;
}

dl{
    display: inline-flex;
    flex-direction: column;
}

dl img {
    width: 150px;
    height: 150px;
}

dt{
    font-size:larger;
}

.container_itens dd[itemprop="name"] {
    font-size: 25px;
}

.container_itens dd[itemprop="shortDescription"]{
    margin-bottom: 15px;
    margin-top: 15px;
}

footer {
    height:fit-content;
    padding-right: 15px;
    margin-top: 40px;
   
}

@media (max-width:450px){
    
    header{
        justify-content: center;
    }
    
    header img{
        display: none;
    }
}

@media (max-width:700px){

    .comandos {
        flex-direction: column;
        align-items: center; 
    }      

    #reset-button{
        margin-top: 10px;

    }

    h1 {
        font-size: 40px;
    }
    
    header img {
        max-height: 100px;
    } 
} 

@media (max-width: 1050px) and (min-width: 700px){

    .comandos {
        flex-direction: column;
        align-items: center; 
    }      

    #reset-button{
        margin-top: 10px;

    }

    h1 {
        font-size: 70px;
    }
    
    header img {
        max-height: 150px;
    } 
} 

